@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Play&family=Titillium+Web:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.container {
  max-width: 100vw;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px; }

.section-div {
  width: 100%;
  height: 80vh;
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 30px;
  background: #000;
  color: #eee;
  position: relative; }
  .section-div h3 {
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 1.5em;
    padding: 1.5em 0;
    position: sticky;
    top: 0;
    background: #000; }
  .section-div h4 {
    text-decoration: underline; }
  .section-div ul {
    font-family: 'Titillium Web', sans-serif; }
  .section-div article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #ddd;
    margin-top: 3em; }

.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: .5em 0; }
  .parallax article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(24, 23, 23, 0.616);
    color: #ddd;
    width: 50%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
    position: sticky;
    top: 10%;
    overflow: visible; }
    .parallax article h2 {
      font-family: 'Play', sans-serif;
      font-size: 3em;
      background-image: linear-gradient(30deg, #baee86, #8fa8ee, pink, skyblue, #66f066);
      background-size: 350%;
      background-position: left;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: bg 10s linear infinite alternate; }

@keyframes bg {
  50% {
    background-position: right; } }
    .parallax article p {
      font-family: 'Titillium Web', sans-serif; }

.parallax::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  opacity: 0.5;
  overflow-x: hidden; }

.parallax-1 {
  background: url("../img/trevor-cole-zMEzuZlmIQY-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative; }
  .parallax-1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/jackson-hendry-eodA_8CTOFo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    opacity: .3;
    overflow-x: hidden;
    animation: scale 40s linear infinite alternate; }

@keyframes scale {
  100% {
    background-position: 90%; } }
  .parallax-1 article p {
    color: #fff; }

.parallax-1-1 {
  background: url("../img/trevor-cole-zMEzuZlmIQY-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; }
  .parallax-1-1 h2 {
    margin-bottom: 2em; }
  .parallax-1-1 p {
    animation: text 10s linear infinite;
    background: linear-gradient(50deg, #fff, #b0fff3, #fff, rgba(226, 253, 175, 0.76), #fff, #f3c2f5, #fff);
    font-weight: 500;
    background-size: 250%;
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

@keyframes text {
  50% {
    background-position: right; } }

.parallax-2 {
  background: url("../img/jackson-hendry-eodA_8CTOFo-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; }
  .parallax-2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/trevor-cole-zMEzuZlmIQY-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    opacity: .2; }
  .parallax-2 article h2 {
    margin-bottom: 1em; }
  .parallax-2 article p {
    font-size: 1em; }

.parallax-3 {
  background: url("../img/qusv-yang-EFsactqua1g-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed; }
  .parallax-3 article {
    transform: scale(0.8);
    transition: all .2s ease-in-out;
    background-image: linear-gradient(45deg, #4d4a4a, #f1f2f5);
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 7em;
    width: 7em;
    border-radius: 100%; }
    .parallax-3 article::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #ddd;
      border-radius: 100%;
      animation: pulse 2s infinite linear;
      opacity: 0;
      transform: scale(0.8); }

@keyframes pulse {
  10% {
    opacity: 1; }
  100% {
    transform: scale(1.12);
    opacity: 0; } }
    .parallax-3 article i {
      font-size: 6em; }
    .parallax-3 article:hover {
      transition: all .3s ease-in-out;
      transform: scale(1);
      box-shadow: 2px 3px 2px #ddd;
      border: none; }
      .parallax-3 article:hover::before {
        display: none; }
  .parallax-3 a {
    color: #fff;
    text-decoration: none; }

.parallax-4 {
  background: url("../img/qusv-yang-EFsactqua1g-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; }
  .parallax-4::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/trevor-cole-zMEzuZlmIQY-unsplash.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 10%;
    background-attachment: fixed;
    opacity: .3;
    animation: para4 30s infinite linear; }

@keyframes para4 {
  50% {
    background-position: 50%; } }
  .parallax-4 p {
    text-shadow: 0 0 2px lightgreen; }

footer {
  width: 100vw;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  background: #000;
  text-shadow: 1px 1px 2px lightgreen;
  font-family: 'Titillium Web', sans-serif; }

@media (max-width: 500px) {
  .parallax article {
    height: auto;
    width: 80%; }
    .parallax article h2 {
      font-size: 1.7em; }
    .parallax article p {
      font-size: 0.7em; }
  .section-div {
    height: auto;
    font-size: 1.3em;
    font-family: sans-serif; }
    .section-div article {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .section-div article .skills-end {
        margin: 1em; }
    .section-div p {
      font-size: 0.6em;
      line-height: 2; }
  .parallax-2 article {
    height: auto;
    display: flex; }
    .parallax-2 article h2 {
      font-size: 1.3em; }
  .parallax-3 article {
    height: 5.2em;
    width: 5.2em; }
    .parallax-3 article i {
      font-size: 4em; }
  .parallax-4 article p {
    font-size: 1em;
    line-height: 1.6;
    padding: 5px; }
  .parallax-4::after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%; }
  footer {
    padding: 5px; } }
