.cube-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/shakexblue.jpg');
    background-size: 50%;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    perspective: 20em;
    perspective-origin: 50% calc(50% - 8em);

    .bird {
        position: absolute;
        bottom: 2em;
        left: 60%;

        i {
            animation: fly 10s ease-out infinite;
            z-index: 900;

            @keyframes fly {
                0%,20%,40%,60%,80%{
                    transform: scale(1.5);
                    transform: rotateY(.05turn) rotateX(.05turn);
                    
                }
                5%, 10%, 30%,50%,70%,90%{
                    transform: scale(1);
                    transform: rotateY(.1turn);
                }
                50% {
                    margin-bottom: 5em;
                    animation-timing-function: ease-in;
                }
            }
        }
    }

    button {
        position: absolute;
        left: .5em;
        top: 100px;
        text-align: center;
        font-size: 3.5rem;
        border: none;
        box-shadow: 3px 3px 5px 5px rgba(104, 102, 102, 0.712), -5px -5px 5px 5px rgba(160, 159, 159, 0.589);
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 5px;
        background: #0505a89d;
        transition: all 1s ;

        .btn-container {
            position: relative;

            i {
                position: absolute;
            }
        }
        
        a {
            background-image: linear-gradient(90deg, rgb(252, 252, 159), rgba(124, 225, 243, 0.192) , skyblue );
            background-size: 400%;
            background-position: left;

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            animation: linkAinimation 5s linear infinite alternate;

        
        }
        &:hover {
            transition: all 1s ease;
            animation: none;
            background-clip: text;
        -webkit-background-clip: text;
        }
        @keyframes linkAinimation {
            100% {
                background-position: right;
            }
        }

        &:hover {
            box-shadow: inset 3px 3px 5px 5px rgba(255, 255, 255, 0.37), inset -3px -3px 5px 3px rgba(255, 255, 255, 0.596);
        }
    }


    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.689);
        width: 100%;
        height: 100%;
    }

    .scene {
        position: relative;
        transform-style: preserve-3d;
        animation: sceneRotate 10s infinite linear;

        @keyframes sceneRotate {
            to {
                transform: rotateY(360deg);
            }
        }


    }

    // cube
    .cube {
        width: 2em;
        height: 2em;
        transform: preserve-3d;
        position: absolute;
        bottom: -1em;
        left: -1em;

        .front,
        .back,
        .left,
        .right {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #1212f752;
            box-shadow: 0 0 0.5em #000a inset;
            pointer-events: none;
        }

        .front {
            transform: translateZ(1em);
        }

        .right {
            transform: rotateY(90deg) translateZ(1em);
        }

        .back {
            transform: rotateY(180deg) translateZ(1em);
        }

        .left {
            transform: rotateY(270deg) translateZ(1em);
        }

        .top {
            position: absolute;
            width: 2em;
            height: 2em;
            background: rgba(4, 4, 252, 0.322);

            transform: translateY(-50%) rotateX(90deg);
            box-shadow: 0 0 0.5em #000a inset;
        }

        .bottom {
            position: absolute;
            width: 2em;
            height: 2em;
            bottom: 0;
            background: #000a;

            transform: translateY(50%) rotateX(90deg);
            box-shadow: 0 0 0.5em #000;
        }

    }

    i {
        position: absolute;
        left: .5em;
        bottom: .5em;
        animation: iconRotate 5s linear infinite reverse;
        color: skyblue;
        transform: preserve-3d;

        @keyframes iconRotate {
            100% {
                transform: rotateY(360deg);
                // bottom: 3em;
            }
        }

        &:hover {
            z-index: 200;
        }
    }
    // end cube
}

@import 'mobile'