.social-media {
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color:#f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

    .sci {
        position: relative;
        display: flex;

        @media (max-width:768px) {
            flex-direction: column;
        }

        li {
            list-style: none;
            position: sticky;
            top: 1em;
            &::before {
                content: attr(data-text);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, calc(-50% + 120px));
                font-size: 13vw;
                pointer-events: none;
                font-weight: 700;
                transition: .5s;
                z-index: 10;
                opacity: 0;
            }
            
            &:hover {
                &::before {
                    opacity: .4;
                    transform: translate(-50%);

                }
            }


            a {
                position: relative;
                display: inline-block;
                width: 120px;
                height: 120px;
                background: #fff;
                color: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                text-decoration: none;
                margin: 20px;
                font-size: 4em;
                transform-style: preserve-3d;
                perspective: 500px;
                box-shadow: 0 25px 35px rgba(0, 0, 0, .1),
                            inset 5px 5px 5px #ddda,
                            inset -5px -5px 5px #000a;
                transition: .5s;

                
                i {
                    position: relative;
                    &.fab {
                        transition: .2s;
                        
                    }
                }
                
                &:hover {
                    i { 
                        &.fab{
                            color: #ddd;
                            transform: scale(1.02) translateZ(50px) rotateY(30deg);
                        }
                    }
                    &.github {
                        background: #c9510c;
                        i {
                            color: #f5f5f5;
                        }
                    }
                    &.fcc {
                        background: #0a0a23;
                        i {
                            color: #f5f6f7;
                        }
                    }
                    &.twitter {
                        background: #E1E8ED;
                        i {
                            color: #1DA1F2 ;
                        }
                    }
                    &.linkedin {
                        background: #ddd;
                        i {
                            color: #2867B2;
                        }
                    }
                }
                
               
            }
        }
    }
}