.social-media {
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .sci {
        position: relative;
        display: flex;

        @media (max-width:768px) {
            flex-direction: column;
        }

        li {
            list-style: none;
            &::before {
                content: attr(data-text);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, calc(-50% + 120px));

                font-size: 13vw;
                pointer-events: none;
                font-weight: 700;
                transition: .5s;
                opacity: 0;
            }
            
            &:hover {
                &::before {
                    opacity: .1;
                    transform: translate(-50%, calc(-50% + 150px));

                }
            }


            a {
                position: relative;
                display: inline-block;
                width: 120px;
                height: 120px;
                background: #fff;
                color: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                text-decoration: none;
                margin: 20px;
                font-size: 4em;
                transform-style: preserve-3d;
                perspective: 500px;
                box-shadow: 0 25px 35px rgba(0, 0, 0, .1),
                            inset 5px 5px 5px #ddda,
                            inset -5px -5px 5px #000a;
                transition: .5s;
                
                i {
                    position: relative;
                    &.fab {
                        transition: .2s;
                    }
                }
                
                &:hover {
                    i {
                        &.fab{
                            color: #ddd;
                        }
                    }
                    &.github {
                        background: #333a;
                    }
                    &.instagram {
                        background: #e4405f;
                    }
                    &.twitter {
                        background: #1877f2;
                    }
                    &.linkedin {
                        background: #0099ff;
                    }
                }
                
               
            }
        }
    }
}