.container {
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25px;
}
.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 500px;
    
}
.parallax-1{
    background: url('img/unit-3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.parallax-2{
    background: url('/img/jackson-hendry-eodA_8CTOFo-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-3{
    background: url('/img/sergey-pesterev-9-5-WYEBDz0-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
}
